<section class="account-page">
  <h1>Reset password</h1>

  {% form 'reset_customer_password' %}
    {% if form.errors %}
      <div>{{ form.errors | default_errors }}</div>
    {% endif %}

    <label for="ResetPassword">Password</label>
    <input id="ResetPassword" type="password" name="customer[password]" required>

    <label for="ResetPasswordConfirmation">Confirm password</label>
    <input id="ResetPasswordConfirmation" type="password" name="customer[password_confirmation]" required>

    <button type="submit">Reset password</button>
  {% endform %}
</section>
